@font-face {
  font-family: "CookieRun";
  font-weight: normal;
  src: url("./fonts/CookieRun.ttf") format("truetype");
}

body {
  background-color: #3f3f3f;
  margin: 0;
  font-family: "CookieRun";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
